@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #603822;
    --brown-hover: #a57155;
}

body {
    min-height: 200vh;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    background-color: white;
}

header .max-width {
    max-width: 1280px;
    height: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header nav {
    display: flex;
    align-items: center;
    height: 100%;
}

header nav img {
    height: 100px; 
}

header nav img:hover {
    filter: brightness(107%);
    transition: filter 0.25s;
}

header nav a {
    text-decoration: none;
    font-family: 'Ruda', sans-serif;
    color: var(--brown);
    font-size: 22px;
    margin-right: 45px;
}

header nav a:hover {
    color: var(--brown-hover);
    transition: color 0.25s;
}

.user {
    display: flex;
}

.user img {
    width: 40px;
    margin-left: 40px;
    cursor: pointer;
}

.user img:hover {
    filter: brightness(117%);
    transition: filter 0.25s;
}
/* HEADER */



/* MAIN */
main {
    padding-top: 138px;
    background-color: rosybrown;
}
/* footer */
footer {
    background-color: #f5f5f5;
}

.footer-content {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(8, 8, 8);
    grid-area: footer;
    grid-template-columns: auto auto auto;
    background-image: solid #fff;
    max-width: 1280px;
    margin: 0 auto;
}
.Food {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(8, 8, 8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redes {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
}
.socials {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: none;
    list-style: none;
}
.socials a { 
    color: rgb(7, 7, 7); 
    text-decoration: none;
}
.about {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
}
.about a {
    color: rgb(7, 7, 7);
    text-decoration: none;
}
.found {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    box-sizing: border-box;
}
.found a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    box-sizing: border-box;
}
.cities {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
}
.cities a {
    text-decoration: none;
    color: rgb(7, 7, 7);
}
.sp {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.rj {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.bh {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.fo {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.co {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.restaurantes {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.pratos {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.hamburger {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.limpeza {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.chocolate {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.o-que {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.quem-somos {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.cadastre {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.facebook {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.facebook img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.instagram {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.instagram img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.youtube {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.youtube img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.twitter {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.twitter img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.linkedin {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.linkedin img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.whatsapp {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.whatsapp img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.Copyright {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 80%;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}

.header {
    height: 138px;
}
.slider {
    width: 100vw;
    height: 400px;
    overflow: hidden;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}
.slider--controls {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
@media screen and (min-device-width: 250px) and (max-device-width: 800px) {
  /*   footer responsivo */
    footer {
        background-color: #f5f5f5;
    }
    
    .footer-content {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(8, 8, 8);
        grid-area: footer;
        grid-template-columns: auto auto auto;
        background-image: solid #fff;
        margin: 0 auto;
    }
    .Food {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(8, 8, 8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .redes {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
    }
    .socials {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        transform: none;
        list-style: none;
    }
    .socials a { 
        color: rgb(7, 7, 7); 
        text-decoration: none;
    }
    .about {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
    }
    .about a {
        color: rgb(7, 7, 7);
        text-decoration: none;
    }
    .found {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        box-sizing: border-box;
    }
    .found a {
        color: rgb(7, 7, 7);
        text-decoration: none;
        box-sizing: border-box;
    }
    .cities {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
    }
    .cities a {
        text-decoration: none;
        color: rgb(7, 7, 7);
    }
    .sp {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .rj {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .bh {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .fo {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .co {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .restaurantes {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .pratos {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .hamburger {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .limpeza {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .chocolate {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .o-que {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .quem-somos {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .cadastre {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .facebook {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .facebook img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .instagram {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .instagram img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .youtube {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .youtube img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .twitter {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .twitter img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .linkedin {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .linkedin img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .whatsapp {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .whatsapp img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .Copyright {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 80%;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    }