@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #603822;
    --brown-hover: #a57155;
}

body {
    margin-top: 108px;
    overflow-x: hidden;
}

@media (max-width: 800px) {
    body {
        margin-top: 80px;
    }
}



/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 2;
}

header .max-width {
    max-width: 1280px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0rem 2rem 0rem 2rem;
}

header nav {
    display: flex;
    align-items: center;
    height: 100%;
}

header nav img {
    height: 90px; 
}

header nav img:hover {
    filter: brightness(107%);
    transition: filter 0.25s;
}

header nav a {
    text-decoration: none;
    font-family: 'Ruda', sans-serif;
    color: var(--brown);
    font-size: 18px;
    margin-right: 45px;
}

header nav a:hover {
    color: var(--brown-hover);
    transition: color 0.25s;
}

.user {
    display: flex;
}

.user img {
    width: 40px;
    margin-left: 40px;
    cursor: pointer;
}

.user img:hover {
    filter: brightness(117%);
    transition: filter 0.25s;
}

.mobile {
    display: none;
}

#sidebar {
    display: none;
}

@media (max-width: 800px) {
    header {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    header .max-width {
        height: 80px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    .user img {
        margin-left: 0;
    }

    #mobile-nav {
        height: 33px;
    }

    #mobile-logo {
        height: 65px;
        padding-left: 14px;
    }

    #sidebar {
        position: fixed;
        height: calc(100vh - 80px);
        background-color: #fdfdfd;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.5s;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar-active {
        transform: translateX(0);
    }

    #sidebar a {
        text-decoration: none;
        color: black;
    }

    #sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.75rem;
    }

    #sidebar li {
        font-family: 'Ruda';
        text-decoration: none;
        list-style: none;
        font-size: 1.2rem;
        margin: 1.6rem 0rem;
    }

    ul div {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--brown);
    }

    #sidebar div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sidebar div button {
        min-width: 60%;
        max-width: 500px;
        height: 50px;
        font-family: 'Ruda';
        border: 2px solid var(--brown);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
    }

    #register {
        color: var(--brown);
        background-color: white;
        margin-bottom: 10px;
    }

    #login {
        background-color: var(--brown);
        color: white;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    #mobile-logo {
        display: none;
    }

    #sidebar li {
        margin: 1.4rem 0rem;
    }
}
/* HEADER */



/* SLIDES */
.slider {
    width: 100vw;
    height: 45vh;
    overflow: hidden;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}
.slider--controls {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

#left {
    margin-left: 20px;
}

#right {
    margin-right: 35px;
}

@media (max-width: 800px) {
    .slider {
        display: none;
    }
}
/* SLIDES */

/* QUEM SOMOS */
.quem-somos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
}
.titulo-geral {
    font-size: 9.433962264150944vh;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 2rem;
    text-align: center;
}
.titulo-sub {
    font-size: 5.555555555555555vh;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 2rem;
    text-align: center;
}
.pessoas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.titulo3 {
    font-size: 5.555555555555555vh;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 2rem;
    text-align: center;
}
.nomes-pessoas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}
.nome1 {
    font-size: 3.3333333333333335vh;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 2rem;
    text-align: center;
}
.nome2 {
    font-size: 3.3333333333333335vh;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 2rem;
}
.nome3 {
    font-size: 3.3333333333333335vh;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 2rem;
}

/* FOOTER */
footer {
    background-color: #f5f5f5;
}

.footer-content {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(8, 8, 8);
    grid-area: footer;
    grid-template-columns: auto auto auto;
    background-image: solid #fff;
    max-width: 1280px;
    margin: 0 auto;
}
.Food {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(8, 8, 8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redes {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
}
.socials {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: none;
    list-style: none;
}
.socials a { 
    color: rgb(7, 7, 7); 
    text-decoration: none;
}
.about {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
}
.about a {
    color: rgb(7, 7, 7);
    text-decoration: none;
}
.found {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    box-sizing: border-box;
}
.found a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    box-sizing: border-box;
}
.cities {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
}
.cities a {
    text-decoration: none;
    color: rgb(7, 7, 7);
}
.sp {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.rj {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.bh {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.fo {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.co {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.restaurantes {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.pratos {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.hamburger {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.limpeza {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.chocolate {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.o-que {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.quem-somos {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.cadastre {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.facebook {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.facebook img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.instagram {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.instagram img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.youtube {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.youtube img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.twitter {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.twitter img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.linkedin {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.linkedin img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.whatsapp {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 3.1446540880503147vh;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}
.whatsapp img {
    width: 50px;
    height: 50px;
    background-image: none;
}
.Copyright {
    background-color: #f5f5f5;
    padding: 3.1446540880503147vh;
    text-align: center;
    font-size: 80%;
    color: rgb(7, 7, 7);
    transform: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    text-decoration: none;
    min-width: auto;
    max-width: auto;
}

@media screen and (min-device-width: 250px) and (max-device-width: 800px) {
    /*   footer responsivo */
    footer {
        background-color: #f5f5f5;
    }
    
    .footer-content {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(8, 8, 8);
        grid-area: footer;
        grid-template-columns: auto auto auto;
        background-image: solid #fff;
        margin: 0 auto;
    }
    .Food {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(8, 8, 8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .redes {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
    }
    .socials {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        transform: none;
        list-style: none;
    }
    .socials a { 
        color: rgb(7, 7, 7); 
        text-decoration: none;
    }
    .about {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
    }
    .about a {
        color: rgb(7, 7, 7);
        text-decoration: none;
    }
    .found {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        box-sizing: border-box;
    }
    .found a {
        color: rgb(7, 7, 7);
        text-decoration: none;
        box-sizing: border-box;
    }
    .cities {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
    }
    .cities a {
        text-decoration: none;
        color: rgb(7, 7, 7);
    }
    .sp {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .rj {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .bh {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .fo {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .co {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .restaurantes {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .pratos {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .hamburger {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .limpeza {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .chocolate {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .o-que {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .quem-somos {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .cadastre {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .facebook {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .facebook img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .instagram {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .instagram img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .youtube {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .youtube img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .twitter {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .twitter img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .linkedin {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .linkedin img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .whatsapp {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 3.1446540880503147vh;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
    .whatsapp img {
        width: 40px;
        height: 40px;
        background-image: none;
    }
    .Copyright {
        background-color: #f5f5f5;
        padding: 3.1446540880503147vh;
        text-align: center;
        font-size: 80%;
        color: rgb(7, 7, 7);
        transform: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        text-decoration: none;
        min-width: auto;
        max-width: auto;
    }
}
/* FOOTER */